.nav {
  display: block;
  position: relative;
  align-items: center;
  margin: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  @media (min-width: $min-tablet-width) {
    display: flex;
  }
}

.nav__list-container {
  width: max-content;
  z-index: 1;
  order: -1;
  @media (max-width: $max-mobile-width) {
    box-shadow: 0 -10px 2px var(--container-color), 1px 0 4px black,
      0 1px 5px black;
  }
}

.nav__list {
  background-color: var(--container-color);
  @media (max-width: $max-mobile-width) {
    width: max-content;
    padding: 0.3em 3em 1em 2em;
  }
  @media (min-width: $min-tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

// .nav__item {
//   animation: nav-appear-left 0.3s ease-in;
//   animation-fill-mode: backwards;
// }

// .nav__item:first-child {
//   animation-delay: 1s;
// }

// .nav__item:nth-child(2) {
//   animation-delay: 0.8s;
// }

// .nav__item:nth-child(3) {
//   animation-delay: 0.6s;
// }

// .nav__item:nth-child(4) {
//   animation-delay: 0.4s;
// }

// .nav__item:nth-child(5) {
//   animation-delay: 0.2s;
// }

.nav__link {
  display: block;
  padding: 0.5em 0.5em 0.5em 0;
  @media (min-width: $min-tablet-width) {
    padding: 0;
  }
}

.nav--close {
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.nav__link {
  transition: opacity 0.2s;
  color: var(--link-color);
}

.nav__link:active {
  opacity: 0.3;
}

.nav__item + .nav__item {
  margin-top: 0.5em;
  @media (min-width: $min-tablet-width) {
    margin: 0 0 0 0.9rem;
  }
}

.nav__btn-wrapper {
  margin: 0 auto;
  max-width: 1440px;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.7rem;
  @media (min-width: $min-tablet-width) {
    padding: 0;
    margin: 0 0 0 auto;
  }
}

.nav__btn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
}

.nav__btn svg path {
  transition: opacity 0.45s;
}

.nav__btns-theme {
  display: flex;
}

// .nav__btn {
//   animation: nav-appear-right 0.3s ease-in;
//   animation-fill-mode: backwards;
// }

// .nav__btn:nth-child(2) {
//   animation-delay: 0.2s;
// }

// .nav__btn:last-child {
//   animation-delay: 0.4s;
// }

.nav__btn-theme + .nav__btn-theme {
  margin-left: 0.4em;
}

.nav__btn--active .js-icon-theme {
  color: var(--icon-hover-color);
}

.header__btn svg g path {
  transition: fill 0.25s;
}

.nav__btn {
  background-color: transparent;
}

.nav__btn-menu {
  visibility: hidden;
  @media (min-width: $min-tablet-width) {
    display: none;
  }
}

.nav--close {
  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.icon {
  color: var(--link-color);
  transition: color 0.25s, opacity 0.3s;
  &:hover {
    color: var(--btn-hover-color);
  }
  &:active {
    opacity: 0.3;
  }
}
