.projects {
  @media (min-width: $min-desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    column-gap: 3em;
    grid-template-areas:
      "header header"
      "btns projects"
      "postscripts postscripts";
  }
}

.projects__header {
  @media (min-width: $min-desktop-width) {
    grid-area: header;
  }
}

.projects__loading {
}

.projects__btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media (min-width: $min-desktop-width) {
    position: sticky;
    top: 5em;
    grid-area: btns;
    border: 3px solid var(--line-color);
    max-width: 13.25em;
    max-height: 6em;
    border-radius: 1.25em;
    padding: 0.4em;
  }
}

.projects__btn {
  display: block;
  background-color: transparent;
  padding: 0.5em;
  margin: 0.3em;
  color: var(--link-color);
  transition: color 0.25s, opacity 0.2s;
  cursor: pointer;
  @media (min-width: $min-tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.projects__btn:hover {
  color: var(--icon-hover-color);
  opacity: 0.5;
}

.projects__btn:active {
  opacity: 0.3;
}

.projects__btn:checked + label {
  color: var(--icon-hover-color);
}

.projects__list {
  @media (min-width: $min-desktop-width) {
    grid-area: projects;
  }
  .projects__item + .projects__item {
    margin-top: 2em;
  }
}

.projects__item {
  @media (max-width: $max-tablet-width) {
    margin-top: 2em;
  }
}

.projects__postscript-wrapper {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 1.7rem;
}

.projects__postscript {
  text-align: center;
  margin: 0;
  padding: 1rem 0 2.5rem 0;
  color: var(--text-container-color);
  @media (min-width: $min-desktop-width) {
    grid-area: postscripts;
  }
}

.projects__github-link {
  color: var(--line-color);
  transition: color 0.4s;
}

.projects__github-link:hover {
  color: var(--icon-hover-color);
}
