// $background-page-color-dark: #171717; //171717
// $text-color-on-backgorund-dark: #5b3f8d; //0d0d0d
// $background-container-color-dark: #0d0d0d; //171717
// $text-color-in-container-dark: #ffffff;
// $header-color-in-container-dark: #e1c6e7;
// $link-btn-color-dark: #ffffff;
// $link-btn-color--hover-dark: #8a5b9b;
// $icon-color-dark: #5b3f8d;
// $icon-color-hover-dark: #be87e6;
// $line-color: #b0b0b0;

:root {
  --page-color: #2a2d36;
  --text-page-color: #fbfbfede;
  --container-color: #1c1b22;
  --header-container-color: #fbfbfede;
  --text-container-color: #fbfbfede;
  --modal-color: hsl(255, 25%, 40%);
  --substrate-color: #fff; //подложка
  --icon-color: #e0e0e0;
  --icon-hover-color: #909090;
  --link-color: #fff;
  --btn-hover-color: #909090;
  --line-color: #b0b0b0;
  --svg-sprite: #fff;
  --svg-sprite-redux: #a76dca;
}
